<div class="modal" tabindex="-1" role="dialog" id="<%=modalID%>">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <h5 class="modal-title"><%=title%></h5>
        </div>
        <div class="modal-footer">
          <button type="button" id="<%=confirmButtonType%>" class="confirm-buttons btn btn-primary">Si</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>