.height-40 {
  height: 40px;
}

.top-56 {
  position: relative;
  top: 56px;
}

.alert-position{
  position: fixed;
  top: 56px;
  z-index:1;
  width: 100%;
}


/*https://colorhunt.co/palette/206727*/


/* main color: #0f3057;*/

.navbar-color,
hr,
.list-group-item.active {
  background-color: #0f3057;
}

.text-color,

h4,
h5,
p {
  color: #0f3057;
}

.button-main-color {
  background-color: #0f3057;
  color: #e7e7de;
}

.button-color,
.badge {
  background-color: #00587a;
  color: #e7e7de !important;
  border-width: 2px;
}

.img-button {
  vertical-align: text-top;
}

.badge {
  font-size: 70%;
}

.btn-light {
  color: #0f3057;
  border-color: #0f3057;
  border-width: 2px;
}



/* colore sfondo e testo in tasti attivi #e7e7de;*/

body,
div .modal-content,
#sidebar-container {
  background-color: #e7e7de;
}
#sidebar-container{
  height:100%;
}

.navbar-dark .navbar-brand,
.list-group-item.active,
.navbar-dark .navbar-toggler {
  color: #e7e7de;
}

.navbar-dark .navbar-toggler {
  border-color: #e7e7de;
}


/* dimensione ricerca per categoria */

.custom-select,
.custom-checkbox {
  height: calc(1.5em + 1rem + 2px);
  font-size: 1.25rem;
}

.button-home {
  bottom: 5%;
  right: 9%;
  z-index: 1;
}


/*posizione bottone segui serie*/

.position-button-follow {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* colore titolo episodio */

.btn-link,
.btn-link:hover {
  color: #0f3057;
  text-decoration: none;
}


/*margin edit button*/

.margin-right-60 {
  margin-right: 60px;
}

#sidebar-container{
  position: fixed;
  top:56px;
  z-index:3;
}



.button-player,
.player-title{
  color:  #e7e7de;
}
.player-container{
  opacity: 0.90;
    border-radius: 20px;
}

